* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body,html {
    font-family: "Lato" , sans-serif;
        max-width: 100%;
        overflow-x: hidden;
    
}

h2 {

    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 3rem;

}

.coming-soon {
    min-width: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.countdown {

    display: flex;
    justify-content: space-around;
    text-align: center;
    
}

.day, 
.hour,
.minute,
.second{

    font-size: 3rem;
  

}

.container-day, .container-hour, .container-minute, .container-second{
    margin: 10px;
}


.waiting {

    min-width: 70vw;
    min-height: 5vh;
}

@media screen and (max-width: 800px) {
    h2 {
      font-size: 40px;
      font-weight: 100rem;
    }
  
    
  }

  @media screen and (max-width:1024px){
    img.waiting {width: 700px;}
  }
  
  @media screen and (min-width:100px){
    img.waiting{width: 300px;}
  }
  
 

  