* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


   
    body {
        font-family: "Lato" , sans-serif;
     
      }


h2 {

    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 3rem;

}

.coming-soon {
    min-width: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.countdown {

    display: flex;
    justify-content: space-around;
    text-align: center;
    
}

.day, 
.hour,
.minute,
.second{

    font-size: 3rem;
  

}

.container-day, .container-hour, .container-minute, .container-second{
    margin-right: 2rem;
}




@media screen and (max-width: 800px) {
    h2 {
      font-size: 40px;
      font-weight: 100rem;
    }
    .waiting {

        width: 80vw;
        text-align: center;
    }
    body {   max-width: 40%;
        position: fixed;
    
    justify-content: center;}
    
    .day, 
.hour,
.minute,
.second{

    font-size: 1rem;
    text-align: center;
    font-weight: bold;
  

}
.coming-soon{
    overflow-x: hidden;
    text-align: center;
    margin: 0 auto;
}
    
  }
 



  